:root {
  --black: #232632;
  --purple: #784ef4;
  --green: #aff500;
  --white: #f5f5f5;
  --blue: #00d8f5;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: poet;
  src: url(./assets/fonts/poetsenone.ttf);
}

@font-face {
  font-family: krona;
  src: url(./assets/fonts/kronaone.ttf);
}

body {
  background-color: var(--black);
}

header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 1%;
  z-index: 3;
}

nav {
  display: flex;
  justify-content: center;
  gap: 5%;
  font-family: "krona";
  color: var(--white);
  width: 30%;
  border-radius: 2rem;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(35, 38, 50, 0.2));
  height: 3rem;
  align-items: center;
  backdrop-filter: blur(4px);
}

nav span:hover {
  cursor: pointer;
}

span.active_page {
  color: var(--green);
}

#olho {
  height: 100%;
  width: 38%;
  position: absolute;
  left: 4%;
}

#faixa {
  position: absolute;
  right: 10rem;
  z-index: 1;
  top: 0;
  width: 18%;
}

main {
  width: 100%;
}

.welcome_container {
  height: 100vh;
  position: relative;
  margin-bottom: 5rem;
}

.welcome_text {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  bottom: 50%;
  transform: translateY(20%);
  right: 22%;
}

.line_one {
  font-family: "poet";
  color: var(--green);
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.line_two {
  font-family: "krona";
  color: transparent;
  -webkit-text-stroke: 4px var(--blue);
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.line_three {
  font-family: "krona";
  color: var(--white);
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

section {
  position: relative;
  z-index: 1;
  height: 105vh;
  margin: 0 2rem 5rem;
}

#titulo {
  font-family: "krona";
  -webkit-text-stroke: 2px var(--purple);
  color: transparent;
  font-size: 4rem;
}

/* grid */

h1 {
  font-size: 2rem;
  font-family: "poet";
  color: var(--green);
  margin: 0 3rem;
}

.about_grid {
  display: grid; 
  max-width: 90vw;
  grid-template-columns: repeat(9, 1fr); 
  grid-auto-rows: minmax(100px, auto); 
  gap: 0.5rem; 
}

.about_grid div {
  background: linear-gradient(rgba(80, 59, 152, 1), rgba(35, 38, 50, 1));
  border-radius: 20px;
  box-shadow: 6px 6px 13px rgba(162, 89, 255, 0.2);
}

.about_grid .about_descrition {
  grid-column: 1/4;
  grid-row: 1/4;
}

.about_grid h2 {
  font-family: "poet";
  color: var(--green);
  text-align: center;
}

.about_grid p {
  font-family: "krona";
  color: var(--white);
  text-align: left;
  margin: 3%;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.about_grid .about_img {
  grid-column: 4/7;
  grid-row: 1/5;
  height: 30rem;
}

.about_grid .about_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.about_grid .about_skills {
  grid-column: 7/10;
  grid-row: 1/4;
}

.about_grid .about_links {
  grid-column: 1/4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about_grid .about_links img {
  height: 2.5rem;
  width: 2.5rem;
  background-size: cover;
}

.about_grid #links {
  font-size: 2rem;
}

.about_grid .about_education {
  grid-column: 7/10;
  grid-row: 4/6;
}

.about_grid .about_education span {
  font-family: "poet";
  color: var(--green);
}

.about_grid .about_tecs {
  grid-column: 1/7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about_tecs img {
  height: 4rem;
  width: 4rem;
}

/*projects*/

.projects_container .project_unit{
  padding: 2.5rem 0;
  border-bottom: 2px solid #784ef4;
}

.projects_container .project_unit #titulo-projeto {
  color: var(--white);
}

.projects_container .project_unit #titulo-projeto:hover{
  color: var(--green);
}

.projects_container img {
  height: 16rem;
  width: 25rem;
  position: absolute;
  right: 2rem;
  bottom: 5rem;
}

/* responsividade */

@media only screen and (max-width: 600px){
  nav {
    display: none;
  }

  section {
    height: 70vh;
    margin: 0 2rem 0.5rem;
  }

  #olho {
    width: 70%;
    position: absolute;
    top: 20%;
    left: auto;
    height: 80%;
  }

  #faixa {
    display: none;
  }

  .welcome_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
  }
  
  .welcome_text {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    bottom: 80%;
    transform: translateY(20%);
    width: 100%;
    right: auto;
  }

  .line_one {
    font-family: "poet";
    color: var(--green);
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
  }
  
  .line_two {
    font-family: "krona";
    color: transparent;
    -webkit-text-stroke: 2px var(--blue);
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .line_three {
    font-family: "krona";
    color: var(--white);
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #titulo {
    font-family: "krona";
    -webkit-text-stroke: 2px var(--purple);
    color: transparent;
    font-size: 2.5rem;
  }

  h1 {
    font-size: 1.5rem;
    font-family: "poet";
    color: var(--green);
    margin: 0 0 0.5rem;
    width: 100%;
  }

  .about_grid {
    display: grid; 
    grid-template-columns: repeat(6, 1fr); 
    grid-auto-rows: minmax(50px, auto); 
    gap: 0.5rem; 
  }

  .about_grid div {
    background: linear-gradient(rgba(80, 59, 152, 1), rgba(35, 38, 50, 1));
    border-radius: 10px;
    box-shadow: 6px 6px 13px rgba(162, 89, 255, 0.2);
  }

  .about_grid h2 {
    font-family: "poet";
    color: var(--green);
    text-align: center;
    font-size: 1rem;
  }

  .about_grid .about_img img {
    border-radius: 10px;
  }

  .about_grid p {
    font-family: "krona";
    color: var(--white);
    text-align: left;
    margin: 3%;
    font-size: 0.5rem;
    letter-spacing: 2px;

  }

  .about_grid .about_links img {
    height: 1.5rem;
    width: 1.5rem;
  }

  .about_grid .about_tecs img {
    height: 2.5rem;
    width: 2.5rem;
  }

  .about_education img {
    width: 1rem;
    height: 1rem;
  }

  .about_education span {
    font-size: 0.8rem;
  }
  
  .about_grid .about_descrition {
    grid-column: 1/4;
    grid-row: 1/5;
  }

  .about_grid .about_img {
    grid-column: 4/7;
    grid-row: 1/5;
    height: 15rem;
  }
  
  .about_grid .about_education {
    grid-column: 1/4;
    grid-row: 5/6;
  }

  .about_grid .about_skills {
    grid-column: 4/7;
    grid-row: 5/7;
  }

  .about_grid .about_links {
    grid-column: 1/4;
    grid-row: 6/7;
  }

  .about_grid .about_tecs {
    grid-column: 1/7;
    grid-row: 7/7;
  }

  .projects_container img{
    display: none;
  }
}

/* 1920px pra cima */
@media screen and (min-width: 1920px){

  /*principal*/

  section {
    position: relative;
    z-index: 1;
    height: 120vh;
  }

  /*home*/
  nav {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 5%;
    font-family: "krona";
    color: var(--white);
    width: 30%;
    border-radius: 2rem;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(35, 38, 50, 0.2));
    height: 4rem;
    align-items: center;
    backdrop-filter: blur(4px);
  }

  .line_one {
    font-family: "poet";
    color: var(--green);
    font-size: 4rem;
    display: flex;
    justify-content: center;
  }
  
  .line_two {
    font-family: "krona";
    color: transparent;
    -webkit-text-stroke: 4px var(--blue);
    font-size: 4rem;
    display: flex;
    justify-content: center;
  }
  
  .line_three {
    font-family: "krona";
    color: var(--white);
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }

  /*grid*/

  #titulo {
    font-family: "krona";
    -webkit-text-stroke: 3px var(--purple);
    color: transparent;
    font-size: 5rem;
  }
  
  h1 {
    font-size: 3rem;
    font-family: "poet";
    color: var(--green);
    margin: 0 5.5rem 2rem;
  }

  .about_grid {
    display: grid; 
    max-width: 90vw;
    grid-template-columns: repeat(9, 1fr); 
    grid-auto-rows: minmax(150px, auto); 
    gap: 1rem; 
  }

  .about_grid h2 {
    font-family: "poet";
    color: var(--green);
    text-align: center;
    font-size: 2.5rem;
  }

  .about_grid p {
    font-family: "krona";
    color: var(--white);
    text-align: left;
    margin: 4%;
    font-size: 1.4rem;
    letter-spacing: 2.5px;
  }

  .about_grid .about_img {
    grid-column: 4/7;
    grid-row: 1/5;
    height: 50rem;
  }

  .about_grid .about_links img {
    height: 4rem;
    width: 4rem;
  }

  .about_tecs img {
    min-height: 5rem;
    min-width: 5rem;
  }

  .about_education img {
    width: 3rem;
    height: 3rem;
  }

  .about_education span {
    font-size: 2rem;
  }

  /*projects*/

  .projects_container .project_unit{
    padding: 3rem 0;
    border-bottom: 4px solid #784ef4;
  }

  .projects_container img {
    height: 22rem;
    width: 32rem;
    position: absolute;
    right: 2rem;
    bottom: 18rem;
  }
}