:root {
  --black: #232632;
  --purple: #784ef4;
  --green: #aff500;
  --white: #f5f5f5;
  --transparent-white: rgb(255, 255, 255, 0.8);
  --transparent-purple: rgb(120, 78, 244, 0.2);
  --blue: #00d8f5;
  --font-title: 2rem;
  --font-small: 1rem;
  --font-xs: 0.8rem;
  --spacing-md: 1rem;
  --radius-lg: 20px;
  --spacing-small: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: poet;
  src: url(./assets/fonts/poetsenone.ttf);
}

@font-face {
  font-family: krona;
  src: url(./assets/fonts/kronaone.ttf);
}

body {
  background-color: var(--black);
}

header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 1%;
  z-index: 3;
}

nav {
  margin-top: var(--spacing-md);
  width: 26%;
  border-radius: 2rem;
  background: var(--transparent-white);
  align-items: center;
  backdrop-filter: blur(4px);
  font-size: var(--font-small);
}

.about_links a {
  text-decoration: none;
  color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-family: "krona";
  color: var(--black);
}

nav a:hover {
  color: var(--purple);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  height: 3rem;
  align-items: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li:hover {
  cursor: pointer;
}

.active_page {
  color: var(--purple);
  font-weight: bold;
}

#olho {
  height: 100%;
  width: 32%;
  position: absolute;
  right: 16%;
}

#faixa {
  position: absolute;
  right: 10rem;
  z-index: 0;
  top: 0;
  width: 12%;
}

#flores {
  width: 50%;
  position: absolute;
  top: 115%;
  z-index: -1;
}

main {
  width: 100%;
}

.welcome_container {
  height: 100vh;
  position: relative;
}

.welcome_text {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  bottom: 50%;
  transform: translateY(20%);
  left: 8%;
}

.line_main {
  font-family: "poet";
  color: var(--green);
  font-size: 4.5rem;
}

.line_emphasis {
  font-family: "krona";
  color: transparent;
  -webkit-text-stroke: 2px var(--blue);
  font-size: 3.5rem;
  margin: 2rem 0;
}

.line_description {
  font-family: "krona";
  color: var(--white);
  font-size: var(--font-title);

}

section,
article,
footer {
  padding-inline: 4rem;
  margin: 6rem 0;
}

#titulo {
  font-family: "krona";
  -webkit-text-stroke: 2px var(--purple);
  color: transparent;
  font-size: 4rem;
}

/* grid */

h5 {
  font-family: "krona";
}

h1 {
  font-size: var(--font-title);
  font-family: "poet";
  color: var(--green);
  margin-bottom: 2%;
}

.about_grid {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-md);
  grid-auto-rows: min-content;
}

.about_grid div {
  background: var(--transparent-purple);
  border-radius: var(--radius-lg);
  backdrop-filter: blur(16px);
  padding: var(--spacing-md);
}

.about_grid .about_descrition {
  grid-column: 1/3;
  grid-row: 1/2;
}

.about_grid h2 {
  font-family: "krona";
  color: var(--green);
  padding: 0 3%;
  margin-top: var(--spacing-md);
}

.about_grid p {
  font-family: "krona";
  color: var(--white);
  margin: 3%;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: justify;
}

.about_grid .about_img {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 0;
  height: auto;
  align-self: start;
}

.about_grid .about_img img {
  width: 100%;
  height: auto;
  max-height: 340px;
  border-radius: var(--radius-lg);
}

.about_grid .about_skill {
  grid-column: 1/2;
  grid-row: 2/4;
}

.about_grid .about_skill img {
  height: 3.5rem;
}

.about_grid .about_skill .skill {
  display: flex;
  padding: 0.67em;
}

.about_grid .about_links {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about_grid .about_links .links {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  font-size: var(--font-small);
  color: var(--green);
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.about_grid .about_links .links img {
  margin: 1rem 0;
  height: 4rem;
  width: 4rem;
}

.about_grid .about_links img {
  height: 2.5rem;
  width: 2.5rem;
  background-size: cover;
}

.about_grid #links {
  font-size: var(--font-title);
}

.about_grid .about_education {
  grid-column: 3/4;
  grid-row: 1/4;
}

.about_grid .about_education h3 {
  color: var(--white);
  font-family: "krona";
  font-size: var(--font-small);
  margin-left: 3%;
  margin-top: var(--spacing-md);
}

.about_grid .about_education h4 {
  font-family: "poet";
  color: var(--black);
  background-color: var(--green);
  border-radius: 2rem;
  padding: 6px 16px;
  font-size: 1.2rem;
  width: 24%;
  text-align: center;
  margin-left: 3%;
  margin-top: 2rem;
}

.contact_container .content_contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  margin: 10rem 0;
}

.contact_container .content_contact button {
  background-color: var(--purple);
  border: none;
  padding: var(--spacing-md);
  border-radius: var(--radius-lg);
  font-family: "krona";
}

.contact_container .content_contact a {
  text-decoration: none;
  color: var(--green);
}

.contact_container .content_contact p {
  font-family: "krona";
  color: var(--white);
  margin: var(--spacing-md);
  font-size: var(--font-small);
  margin-bottom: 2rem;
}

.contact_container .content_contact .title_contact {
  font-size: var(--font-title);
  margin: var(--spacing-small);
}

#jardim {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.jardim {
  margin-top: 3rem;
}

.projects_container {
  margin-bottom: 6rem;
}

.projects_container .grid-project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.projects_container .grid-project .card-project {
  background: var(--transparent-purple);
  border-radius: var(--radius-lg);
  backdrop-filter: blur(16px);
  padding: var(--spacing-md);
}

.projects_container .grid-project .card-project img {
  width: 100%;
  border-radius: 0.5rem;
  height: 50%;
}

.projects_container .grid-project .card-project h3 {
  font-family: "krona";
  color: var(--white);
}

.projects_container .grid-project .card-project p {
  color: var(--white);
  font-family: "krona";
  padding: 1rem 0;
}

.projects_container .grid-project .card-project .category {
  padding: 1rem 0;
}

.projects_container .grid-project .card-project .category span {
  padding: var(--spacing-small);
  color: var(--green);
  background-color: var(--purple);
  border-radius: var(--radius-lg);
  font-family: "krona";
  font-size: 0.8rem;
}


/* responsividade */

@media only screen and (max-width: 1683px) {

  section,
  article,
  footer {
    margin: 4rem 0;
  }

  nav {
    width: 28%;
  }

  .line_main {
    font-size: 3.5rem;
  }

  .line_emphasis {
    font-size: 2.5rem;
  }

  .line_description {
    font-size: 1rem;
  }

  #olho {
    width: 30%;
  }

  #flores {
    width: 54%;
    top: 120%;
  }

  .about_grid .about_education h4 {
    width: 28%;
  }
}

@media only screen and (max-width: 1483px) {

  nav {
    width: 40%;
  }

  .line_main {
    font-size: 3rem;
  }

  .line_emphasis {
    font-size: 2rem;
    -webkit-text-stroke: 1px var(--blue);
    margin: 0.5rem 0;
  }

  .line_description {
    font-size: 1rem;
  }

  .about_grid .about_education h4 {
    width: 30%;
  }

  #olho {
    width: 40%;
    right: 10%;
    bottom: 5%;
  }

  #faixa {
    position: absolute;
    right: 8rem;
    z-index: 0;
    top: 0;
    width: 12%;
  }

  #flores {
    width: 50%;
    position: absolute;
    top: 130%;
    z-index: -1;
  }

  .about_grid .about_descrition {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .about_grid .about_skill {
    grid-column: 1/3;
    grid-row: 2/4;
  }

  .about_grid .about_img {
    grid-column: 3/4;
    grid-row: 2/3;
    height: 100%;
  }

  .about_grid .about_img img {
    display: flex;
    justify-content: center;
  }

  .about_grid .about_links {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .about_grid .about_education {
    grid-column: 1/4;
    grid-row: 4/5;
  }

  .about_grid .about_education h4 {
    width: 14%;
  }

  .projects_container .grid-project .card-project .category span {
    font-size: 0.7rem;
  }

  h1 {
    font-size: 1.6rem;
    margin: 0.5rem 0;
  }

  #titulo {
    font-size: 2.8rem;
    -webkit-text-stroke: 1.5px var(--purple);
  }

  .projects_container .grid-project .card-project img {
    height: 45%;
  }
}

@media only screen and (max-width: 1023px) {
  .about_grid .about_descrition {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .about_grid .about_skill {
    grid-column: 1/3;
    grid-row: 2/4;
  }

  .about_grid .about_img {
    grid-column: 3/4;
    grid-row: 2/3;
    height: auto;
  }

  .about_grid .about_links {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .about_grid .about_education {
    grid-column: 1/4;
    grid-row: 4/5;
  }

  .about_grid .about_education h4 {
    width: 16%;
  }

  .projects_container .grid-project .card-project .category span {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.8rem;
    margin: 0.5rem;
  }

  #titulo {
    font-size: 2.5rem;
    -webkit-text-stroke: 1.5px var(--purple);
  }

  section,
  article,
  footer {
    width: 100%;
    max-width: 1600px;
    margin: 3rem auto;
    padding-inline: 2rem;
    box-sizing: border-box;
  }

  nav {
    width: 50%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav a {
    font-size: 0.8rem;
    margin: 0 0.5rem;
  }

  #faixa {
    display: none;
  }

  #flores {
    top: 123%;
    width: 100%;
  }

  #olho {
    top: 20%;
    width: 38%;
    left: auto;
    right: auto;
  }

  .welcome_container {
    margin-bottom: 2rem;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .welcome_text {
    bottom: 80%;
    left: auto;
    right: auto;
  }

  .line_main {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .line_emphasis {
    font-size: 1.2rem;
    -webkit-text-stroke: 1px var(--blue);
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
  }

  .line_description {
    font-size: 1rem;
    margin: 0;
  }

  .about_grid h2 {
    font-size: 1.5rem;
  }

  .about_grid p {
    font-size: var(--font-xs);
  }

  .projects_container .grid-project .card-project img {
    height: 56%;
  }

}

@media only screen and (max-width: 868px) {

  header {
    top: 0;
  }

  h1 {
    font-size: 1.8rem;
    margin: 0.5rem;
  }

  #titulo {
    font-size: 2.5rem;
    -webkit-text-stroke: 1.5px var(--purple);
  }

  section,
  article,
  footer {
    width: 100%;
    max-width: 1600px;
    margin: 6rem auto;
    padding-inline: 2rem;
    box-sizing: border-box;
  }

  nav {
    width: 50%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav a {
    font-size: 0.8rem;
    margin: 0 0.5rem;
  }

  #faixa {
    display: none;
  }

  #flores {
    top: 123%;
    width: 100%;
  }

  #olho {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 28%;
    left: auto;
    right: auto;
  }

  .welcome_container {
    margin-bottom: 2rem;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .welcome_text {
    bottom: 80%;
    left: auto;
    right: auto;
  }

  .line_main {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .line_emphasis {
    font-size: 1.2rem;
    -webkit-text-stroke: 1px var(--blue);
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
  }

  .line_description {
    font-size: 1rem;
    margin: 0;
  }

  .about_grid h2 {
    font-size: 1.5rem;
  }

  .about_grid p {
    font-size: var(--font-xs);
  }

  .about_grid {
    height: auto;
    /* muito importante! */
    width: 100%;
    gap: 1rem;
    box-sizing: border-box;
  }

  .about_grid div {
    padding: 0.5rem;
  }

  .about_grid .about_descrition {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .about_grid .about_skill {
    grid-column: 1/3;
    grid-row: 2/4;
  }

  .about_grid .about_img {
    grid-column: 3/4;
    grid-row: 2/3;
    height: auto;
  }

  .about_grid .about_links {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .about_grid .about_education {
    grid-column: 1/4;
    grid-row: 4/5;
  }

  .about_grid .about_img img {
    height: 100%;
    width: 100%;
    border-radius: var(--radius-lg);
    display: block;
    margin: 0 auto;
  }

  .about_grid .about_links .links h5 {
    font-size: var(--font-small);
  }

  .about_grid .about_links .links img {
    height: 3.8rem;
    width: 3.8rem;
  }

  .about_grid .about_skill img {
    height: 3rem;
  }

  .about_grid .about_links .links {
    padding: 0.5rem;
    gap: 1.5rem;
    font-size: var(--font-xs);
  }

  .about_grid .about_education h3 {
    font-size: var(--font-small);
  }

  .about_grid .about_education h4 {
    font-size: var(--font-small);
    margin-top: 1rem;
    width: 26%;
  }

  .contact_container .content_contact {
    margin: 4rem 0;
  }

  .contact_container .content_contact p {
    font-size: 0.8rem;
    text-align: center;
    margin: 1rem;
  }

  .contact_container .content_contact .title_contact {
    font-size: 1rem;
    width: max-content;
  }

  .contact_container .content_contact button {
    margin-top: 1rem;
    padding: 1rem;
  }

  .contact_container .content_contact a {
    font-size: 0.8rem;
  }

  .projects_container .grid-project .card-project img {
    height: 48%;
  }

}

@media only screen and (max-width: 768px) {

  #olho {
    width: 50%;
  }

  .projects_container .grid-project {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }

  .about_grid .about_descrition {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .about_grid .about_skill {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .about_grid .about_img {
    width: 100%;
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .about_grid {
    display: grid;
  }

  .about_grid .about_links {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .about_grid .about_education {
    grid-column: 1/4;
    grid-row: 4/5;
  }

  .projects_container .grid-project .card-project .category span {
    font-size: 0.6rem;
  }

  .projects_container .grid-project .card-project h3 {
    font-size: 1rem;
  }

  .projects_container .grid-project .card-project p {
    font-size: 0.8rem;
  }

  .projects_container .grid-project .card-project img {
    height: 68%;
  }
}

@media only screen and (max-width: 668px) {
  .about_grid {
    display: flex;
    flex-direction: column;
  }

  #olho {
    width: 56%;
  }

  nav {
    width: 70%;
  }
}

@media only screen and (max-width: 468px) {
  #flores {
    top: 123%;
    width: 100%;
  }

  section,
  article,
  footer {
    margin: 3rem auto;
    padding-inline: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0.5rem;
  }

  #titulo {
    font-size: 2rem;
    -webkit-text-stroke: 1px var(--purple);
  }

  .about_grid h2 {
    font-size: 1rem;
  }

  .about_grid p {
    font-size: 0.6rem;
  }

  nav {
    width: 80%;
  }

  nav a {
    font-size: 0.6rem;
  }

  .projects_container .grid-project {
    display: grid;
    gap: 2rem;
  }

  .projects_container .grid-project .card-project .category span {
    font-size: 0.6rem;
  }

  .projects_container .grid-project .card-project h3 {
    font-size: 1rem;
  }

  .projects_container .grid-project .card-project p {
    font-size: 0.8rem;
  }

  .line_main {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .line_emphasis {
    font-size: 1rem;
    -webkit-text-stroke: 0.5px var(--blue);
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
  }

  .line_description {
    font-size: 0.8rem;
    margin: 0;
  }

  #olho {
    width: 74%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 28%;
    left: auto;
    right: auto;
  }

  .about_grid .about_links .links h5 {
    font-size: 0.8rem;
  }

  .about_grid .about_links .links img {
    height: 3rem;
    width: 3rem;
  }

  .about_grid .about_education h3 {
    font-size: 0.8rem;
  }

  .about_grid .about_education h4 {
    font-size: 0.9rem;
    width: 30%;
  }

  .contact_container .content_contact {
    margin: 4rem 0;
  }

  .contact_container .content_contact p {
    font-size: 0.7rem;
    text-align: center;
    margin: 1rem;
  }

  .contact_container .content_contact .title_contact {
    font-size: 1rem;
    width: max-content;
  }

  .contact_container .content_contact button {
    padding: 0.8rem;
  }

  .contact_container .content_contact a {
    font-size: 0.8rem;
  }

}